<!<!DOCTYPE html>
  <html lang="en">

  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='icon' href='../images/favicon.ico' type='image/x-icon' />
    <!-- Bootstrap CSS -->
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/myBoot.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel='icon' href='../images/favicon.ico' type='image/x-icon' />
    <link rel="stylesheet" href="../css/cart.css">
    <title>Cart</title>
  </head>

  <body>

    <header>

      <div id="homeHeader">
        <div class="row" id="topRow">
          <div class="col-sm-4">
            <a href="home.html"><img src="../images/notableWholesaleLogo.png" id="mainLogo" alt=""></a>
          </div>

          <div class="col-sm-4" id="searchForm">
            <form class="form-inline-custom">
              <input class="searchWidth mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              <button class="headerButton btn my-2 my-sm-0" id="searchBtn" type="submit"><i class="fa fa-search"></i> Search</button>
            </form>
          </div>

          <div class="col-sm-4">
            <div class="leftHeader">
              <a class="headerButton btn" href="cart.html" role="button"><i class="fa fa-shopping-cart"></i> Cart</a>
              <a class="headerButton btn" href="account.html" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fa fa-user-circle"></i> My Account
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                <a class="dropdown-item" href="account.html"><i class="fa fa-user"></i> User Profile</a>
                <a class="dropdown-item" href="orders.html"><i class="fa fa-list-ul"></i> Order History</a>
                <a class="dropdown-item" href="wishlist.html"><i class="fa fa-gift"></i> Wishlist</a>
                <a class="dropdown-item" href="home.html"><i class="fa fa-power-off"></i> Log Out</a>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="productMenu">
        <div class="d-flex justify-content-center">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Groceries
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="groceries.html">All Groceries</a>
              <a class="dropdown-item" href="meatSticks.html">Meat Sticks</a>
              <a class="dropdown-item" href="crackers.html">Crackers</a>
              <a class="dropdown-item" href="tofu.html">Free-range Tofu</a>
            </div>
          </nav>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Clothing
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink2">
              <a class="dropdown-item" href="clothing.html">All Clothing</a>
              <a class="dropdown-item" href="romphim.html">Romphims</a>
              <a class="dropdown-item" href="onesie.html">Onesies</a>
              <a class="dropdown-item" href="snuggy.html">Snuggies</a>
            </div>
          </nav>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Electronics
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="electronics.html">All Electronics</a>
              <a class="dropdown-item" href="computer.html">Computers</a>
              <a class="dropdown-item" href="HDMI.html">HDMI Cables</a>
              <a class="dropdown-item" href="TV.html">Televisions</a>
            </div>
          </nav>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink4" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Sporting Goods
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="sporting-goods.html">All Sporting Goods</a>
              <a class="dropdown-item" href="nunchucks.html">Nunchucks</a>
              <a class="dropdown-item" href="javelin.html">Javelins</a>
              <a class="dropdown-item" href="skates.html">Rocket Skates</a>
            </div>
          </nav>
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink5" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Office Supplies
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="office-supplies.html">All Office Supplies</a>
              <a class="dropdown-item" href="stapler.html">Staplers</a>
              <a class="dropdown-item" href="shredder.html">Paper Shredders</a>
              <a class="dropdown-item" href="3dprinter.html">3D Printers</a>
            </div>
          </nav>
        </div>
      </div>
    </header>

    <!--Actual Cart Stuff-->
    <button id="tCart" onclick="display()" class="headerButton">View</button>
    <form id="shopping-cart" action="cart.html" method="post">
      <table class="shopping-cart" id="cart-table">
              <tr>
                  <th scope="col">Item</th>
                  <th scope="col">Qty</th>
                  <th scope="col">Price</th>
              </tr>
              <div id="cart-stuff">
              <tr>
              <td id ="n1"></td>
              <td id ="q1"></td>
              <td id ="p1"></td>
              </tr>
              <tr>
              <td id ="n2"></td>
              <td id ="q2"></td>
              <td id ="p2"></td>
              </tr>
              <tr>
              <td id ="n3"></td>
              <td id ="q3"></td>
              <td id ="p3"></td>
              </tr>
              </div>
          <tbody></tbody>
      </table>
      <p id="sub-total">
        <strong>Sub Total</strong>: <span id="stotal"></span>
      </p>
      <ul id="shopping-cart-actions">
          <li>
              <input type="submit" name="update" id="update-cart" class="headerButton buttons my-2 my-sm-0" value="Update Cart" />
          </li>
          <li>
              <input type="submit" name="delete" id="empty-cart" class="headerButton buttons my-2 my-sm-0" value="Empty Cart" />
          </li>
          <li>
              <a href="home.html" class="buttons my-2 my-sm-0">Continue Shopping</a>
          </li>
          <li>
              <a href="checkout.html" class="buttons my-2 my-sm-0">Go To Checkout</a>
          </li>
      </ul>
    </form>




    <footer>
      <nav class="" id="footer">
        <div class="container">
          <div class="row">
            <div class="col-sm-4 mx-auto">
              <h5 class="font-weight-bold text-uppercase mt-3">About</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Contact Us</a>
                </li>
                <li>
                  <a href="#!">About Us</a>
                </li>
                <li>
                  <a href="#!">Careers</a>
                </li>
                <li>
                  <a href="#!">User Stories</a>
                </li>
                <li>
                  <a href="#!">Testimonials</a>
                </li>
                <li>
                  <a href="#!">Press</a>
                </li>
                <li>
                  <a href="#!">Photos</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4 mx-auto">
              <h5 class="font-weight-bold text-uppercase mt-3">Help</h5>
              <ul class="list-unstyled">
                <li>
                  <a href="#!">Payments</a>
                </li>
                <li>
                  <a href="#!">Shipping</a>
                </li>
                <li>
                  <a href="#!">Cancellation & Returns</a>
                </li>
                <li>
                  <a href="#!">FAQ</a>
                </li>
              </ul>
            </div>
            <div class="col-sm-4" id="socialMediaIcons">
              <h5 class="font-weight-bold text-uppercase mt-1">Social</h5>
              <span>
                <a class="fb-ic mr-3" role="button"><i class="fa fa-lg fa-facebook-f"></i></a>
                <a class="tw-ic mr-3" role="button"><i class="fa fa-lg fa-twitter"></i></a>
                <a class="ins-ic mr-3" role="button"><i class="fa fa-lg fa-instagram"></i></a>
              </span>
            </div>
          </div>
        </div>
      </nav>
      <div id="footer-copyright" class="footer-copyright text-center py-3">© 2020 Notable Wholesale
      </div>
    </footer>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <script src="../js/cart.js"></script>
    <script src="../js/cartTest.js"></script>
  </body>

  </html>
